* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main {
    width: 100%;
}

main section {
    width: 100%;
    
    padding: var(--padding-md);
    display: flex;
    gap: var(--gutter-lg);
}

.btn {
    text-decoration: none;
    color: #111;
    padding: var(--padding-sm) var(--padding-md);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    background-color: var(--bg-active-color);
}

#reset-btn {
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}
#download-btn {
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}


main section .left {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    width: 70%;
}

main section .right {
    width: 30%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
}

main section .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gutter-md);

}

main section .bottom{
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
    gap: var(--gutter-lg);
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    gap: var(--gutter-sm);
}

main section .bottom .placeholder i {
    font-size: var(--font-max);
}

main section .bottom .placeholder p {
    font-size: var(--font-lg);
}

main section .right{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .parentFilters{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
    /* border */
    /* border: 1px solid green; */
}

main section .right .filters{
    width: 95%;
}

main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
}

canvas{
    /* background-color: red; */

    display: none;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
    max-width: 95%;
    max-height: 70vh;
}

.parentPreset{
    /* border */
    /* border: 1px solid green; */
    max-height: 8vh;
    padding: var(--padding-sm);
    overflow-x: scroll;
}

.presets{
    display: flex;
    /* flex-wrap: wrap; */
    gap: var(--gutter-sm);

    /* border: 1px solid blue; */
}

/* mobile view */

@media (max-width: 945px) {
    main section {
        flex-direction: column;
    }

    main section .left,
    main section .right {
        width: 100%;
    }
    
    .parentFilters{
        max-height: 150px;
        overflow-y: scroll;
    }

    .parentPreset{
        max-height: 50px;
        overflow-x: scroll;
        max-height: 8vh;
    }

    
}